* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
header {
  position: relative;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  background-color: #e9ecef;
  height: 100vh;
}
.about h1 {
  letter-spacing: -3px;
  font-size: 54px;
  text-align: center;
}
.hero-image {
  height: auto;
}

#btn {
  position: absolute;
  top: 50px;
  right: 50px;
}
