* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
h1 {
  margin-bottom: 34px;
}
.links {
  width: 700px;
  margin: 100px auto;
  font-size: 24px;
}
.links ul {
  list-style: none;
}
